ul{
    list-style-type: none;
}
#mapid
{ height: 180px;

}

.map {
  height: 400px;
  width: 100%;
}
.container{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}
.container-item{
  width: 40%;
}